/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* Estilos del Navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5em;
}

/* Estilos para la página de clientes */
#titulo-gestion-clientes {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-top: 20px;
}

div {
  padding: 20px;
}
